<!-- views/partials/_header.ejs -->

<h1>TinyApp</h1>
    <form method="POST" action="/login">
    <label for="username">Name: </label>
    <input type="text" name="name" placeholder="username">
    <input type="submit" name="Update!">
</form>