<!-- views/partials/_header.ejs -->

<h1>TinyApp</h1>

<% if ( userID ) { %>
    <form method="POST" action="/logout">
    <button type="submit" class="btn btn-info">Log Out</button>
    </form>
<% } else{ %>
    | <a href="/login">Login</a> || <a href="/register">Register</a> |
<% }; %>