<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">

<header>
    <% include ./partials/_header %>
</header>

<a href="/urls/new">Create New TinyURL2</a>

<h2>My URLs</h2>
<% for (var keyValue in urls) { %>
<ul>
  <form method="POST" action="<%= `/urls/${keyValue}/delete` %>" value="delete">
  <li> <b> <%= keyValue %> </b> - <%= urls[keyValue] %> <a href="<%= `/urls/${keyValue}` %>">Edit</a> <button type="submit" class="btn btn-info">Delete</button></li></form>
</ul>
<% }; %>

</body>
</html>

