<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>TinyApp - Login</title>
  </head>

  <body style="font-size:20px; padding:50px;">


    <h3>Login to your Account</h3>
    <form class="form-inline" action="/login" method="POST">
      <div class="form-group mb-2">
        <label>Enter your email:</label>
        <input class="form-control" type="email" name="email" placeholder="type your email here" style="width: 300px; margin: 1em">
        <label>Enter your password:</label>
        <input class="form-control" type="password" name="password" placeholder="type your password here" style="width: 300px; margin: 1em">
        <button type="submit" class="btn btn-primary">Log In</button>
      </div>
    </form>
  </body>
</html>